<div id="<%= dom_id question %>">
  <p>
    <strong>Topic:</strong>
    <%= question.topic %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= question.participant_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= question.comment_id %>
  </p>

</div>
