<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= comment.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= comment.dislikes %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= comment.question_id %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= comment.participant_id %>
  </p>

</div>
