<div id="<%= dom_id group_session %>">
  <p>
    <strong>Owner:</strong>
    <%= group_session.owner_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= group_session.book_id %>
  </p>

  <p>
    <strong>Name of group:</strong>
    <%= group_session.name_of_group %>
  </p>

  <p>
    <strong>List of members:</strong>
    <%= group_session.list_of_members %>
  </p>

</div>
