<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= book.publish_date %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

  <p>
    <strong>Group session:</strong>
    <%= book.group_session_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= book.photo %>
  </p>

</div>
